@font-face
{
	font-family: 'Stylish';
	src:url('../fonts/Stylish.ttf') format('truetype');
}

@font-face
{
	font-family: 'Justanotherhand';
	src:url('../fonts/justanotherhand.ttf') format('truetype');
}